src/test/resources/db-schema/database.dtd

<!ELEMENT dataset (
   (article_marker_t|
    article_t|
    dbmaintain_scripts|
    marker_t)*)>

<!ELEMENT article_marker_t EMPTY>
<!ATTLIST article_marker_t
    article_marker_id CDATA #IMPLIED
    article_id CDATA #IMPLIED
    marker_id CDATA #IMPLIED
>

<!ELEMENT article_t EMPTY>
<!ATTLIST article_t
    article_id CDATA #IMPLIED
    article_title CDATA #IMPLIED
    article_published CDATA #IMPLIED
>

<!ELEMENT dbmaintain_scripts EMPTY>
<!ATTLIST dbmaintain_scripts
    file_name CDATA #IMPLIED
    version CDATA #IMPLIED
    file_last_modified_at CDATA #IMPLIED
    checksum CDATA #IMPLIED
    executed_at CDATA #IMPLIED
    succeeded CDATA #IMPLIED
>

<!ELEMENT marker_t EMPTY>
<!ATTLIST marker_t
    marker_id CDATA #IMPLIED
    marker_title CDATA #IMPLIED
>

