src/test/resources/db-schema/database.dtd

<!ELEMENT dataset (
   (DBMAINTAIN_SCRIPTS|
    ARTICLE_T)*)>

<!ELEMENT DBMAINTAIN_SCRIPTS EMPTY>
<!ATTLIST DBMAINTAIN_SCRIPTS
    FILE_NAME CDATA #IMPLIED
    VERSION CDATA #IMPLIED
    FILE_LAST_MODIFIED_AT CDATA #IMPLIED
    CHECKSUM CDATA #IMPLIED
    EXECUTED_AT CDATA #IMPLIED
    SUCCEEDED CDATA #IMPLIED
>

<!ELEMENT ARTICLE_T EMPTY>
<!ATTLIST ARTICLE_T
    ARTICLE_ID CDATA #IMPLIED
    ARTICLE_TITLE CDATA #IMPLIED
>

